/*Импорт стилей, шрифтов и иконок*/
/*Сброс CSS*/
@import url("https://marksheet.io/css/reset.css");


/*Базовые стили*/
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


/*Предустановки*/
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*Гибкая вёрстка*/
img {
    width: 100%;
    max-width: 100%;
}
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
.col-4 {
    flex: 4;
}
.col-5 {
    flex: 5;
}
.col-6 {
    flex: 6;
}
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}


/*Шапка сайта*/
header {
flex: 0 0 auto;
    height: 1030px;
    background-color: #000000;
    font-size: 0.9em;
}
header > div.container {
    height: 100%;
    align-items: flex-end;
}
header ul {
    display: flex;
    padding-bottom: 20px;
}
header li {
    color: #ffff00;
}
header li a{
    padding: 50px 10px 10px 10px;
    margin-right: 10px;
    color: #ffff00;
    text-decoration: none;
}
.header-icon {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}
.header-icon img {
    padding-right: 20px;
}

}


/*Основное содержимое*/
.moon {
    flex: 1 0 auto;
}
.advantages {
    flex: 1 0 auto;
    padding: 55px 0 85px 0;
    background-color: #000000;
    color: #ffff00;
}
.advantages div {
    justify-content: space-around;
}
.advantages .block-item {
    max-width: 200px;
}
.advantages img {
    padding: 30px 0;
}
.content {
    flex: 1 0 auto;
}


/*Подвал сайта*/
footer {
    flex: 0 0 auto;
    padding: 85px 0 55px 0;
    background-color: #ffffff;
    color: #ffff00;
}
.copyright {
    color: ffffff;
    padding-top: 100px;
}
footer h3 {
    margin: 20px 20px 40px 0;
    padding-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #ffff00;
}
footer h3 a {
    color: #ffffff;
    text-decoration: none;
}
footer li {
    margin-bottom: 20px;
}
footer li a {
    color: #ffff00;
    text-decoration: none;
}


